.messagesContent {
	display:flex;
	align-items:center;
	justify-content: center;
    overflow:visible;
  }

.messagesHeader {
    color:white;
    text-align: center;
    font-size:27px;
    margin-top:5px;
}

.existingMessagesContent {
	width:300px;
	height:500px;
	background-color: white;
	border-radius: 20px;
    margin-top:10px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
    transition-timing-function: ease-out;
	transition: 0.2s;
    position:relative;
    overflow:scroll;
	overflow-x:hidden;
  }

  .existingMessagesContent::-webkit-scrollbar-track {
    margin-bottom:20px;
    margin-top:20px;
  }

  .existingMessageButton {
	background-color: rgb(6, 155, 175);
	border: none;
    width:280px;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor:pointer;
	margin-left: 10px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 20px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.existingMessageButton:hover {
	background-color: rgb(6, 121, 136);
}

.existingMessageButton:active {
	background-color: rgb(6, 100, 115);
}

.messageScreen {
	width:700px;
	height:500px;
	background-color: white;
	border-radius: 20px;
    margin-top:10px;
    margin-left:15px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
    transition-timing-function: ease-out;
	transition: 0.2s;
    position:relative;
  }

  .messagesInput {
    margin-left:10px;
	padding:7px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 20px;
    width:500px;
    bottom:10px;
    position:absolute;
}

.sendMessageButtonMessages {
	background-color: blueviolet;;
	border: none;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor:pointer;
    position:absolute;
    border-radius: 20px;
	transition-timing-function: ease-out;
	transition: 0.2s;
    height:50px;
    bottom:10px;
    margin-left:520px;
}

.sendMessageButtonMessages:hover {
	background-color: rgb(110, 34, 182);
}

.sendMessageButtonMessages:active {
	background-color: rgb(89, 29, 145);
}

.messageTextRight {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blueviolet;
    color:white;
    width:330px;
    border-radius:20px;
    height:auto;
    font-size:20px;
    padding-left:15px;
    padding-right:15px;
    overflow-wrap:break-word;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.24);
    transition-timing-function: ease-out;
	transition: 0.2s;
    margin-left:330px;
    margin-top:15px;
    margin-bottom:15px;
    position:relative;
}

.messageTextRight:hover {
    background-color: rgb(110, 34, 182);
}

.messageTextLeft {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(117, 117, 117);
    color:white;
    width:330px;
    border-radius:20px;
    height:auto;
    font-size:20px;
    padding-left:15px;
    padding-right:15px;
    overflow-wrap:break-word;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.24);
    transition-timing-function: ease-out;
	transition: 0.2s;
    margin-left:10px;
    margin-top:15px;
    margin-bottom:15px;
}

.messageTextLeft:hover {
    background-color: rgb(90, 90, 90);
}

.messageDateLeft {
    position:relative;
    margin-left:20px;
    margin-bottom:-15px;
    color:rgb(117, 117, 117);
}

.messageDateRight {
    position:relative;
    margin-left:520px;
    margin-bottom:-15px;
    color:rgb(117, 117, 117);
}

.messagesContainer {
    width:680px;
	height:420px;
	background-color:white;
	border-radius: 20px;
    margin-top:10px;
    margin-left:10px;
    position:relative;
    overflow:scroll;
	overflow-x:hidden;
}

.startConversationHeader {
    color:white;
    text-align: center;
    font-size:35px;
    margin-top:15px;
}

.startConversationInput {
	padding:7px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 20px;
    width:630px;
    top:100px;
    margin-right:170px;
    position:absolute;
}

.sendButtonStartConversation {
	background-color: blueviolet;;
	border: none;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor:pointer;
    position:absolute;
    border-radius: 20px;
	transition-timing-function: ease-out;
	transition: 0.2s;
    height:50px;
    top:100px;
    margin-left:650px;
}

.sendButtonStartConversation:hover {
	background-color: rgb(110, 34, 182);
}

.sendButtonStartConversation:active {
	background-color: rgb(89, 29, 145);
}

.errorMessageStartConversation {
	color:red;
	font-weight:bold;
	font-size:27px;
	overflow-wrap:break-word;
    position:absolute;
    margin-top: 350px;
}

@media (max-width: 768px) {

    .messagesHeader {
        font-size:22px;
    }

    .existingMessagesContent {
        position:absolute;
        margin-left:50%;
		transform: translate(-50%, -50%);
        height:250px;
        width:90%;
        margin-top:150px;
    }

    .messagesContainer {
        width:95%;
        height:280px;
    }

    .messageScreen {
        position:absolute;
        margin-left:50%;
		transform: translate(-50%, -50%);
        height:420px;
        width:90%;
        margin-top:500px;
    }

    .messagesContent {
        align-items:unset;
        justify-content: unset;
      }

      .messagesInput { 
        width:315px;
        margin-left:50%;
		transform: translate(-50%, -50%);
        margin-bottom:35px;
      }

      .sendMessageButtonMessages {
        margin-left:50%;
		transform: translate(-50%, -50%);
        margin-bottom:-25px;
        width:200px;
      }

      .existingMessageButton {
        margin-left:50%;
		transform: translate(-50%, -50%);
        margin-top:30px;
        margin-bottom:-15px;
      }

      .messageTextLeft {
        width:200px;
        font-size:17px;
        margin-left:5px;
      }
      
      .messageDateLeft {
        margin-left:10px;
        width:130px;
      }

      .messageTextRight {
        width:200px;
        font-size:17px;
        margin-right:10px;
        margin-left:auto;
      }

      .messageDateRight {
        margin-left:55%;
        width:130px;
      }
}