.messagesContent {
	display:flex;
	align-items:center;
	justify-content: center;
  }

.existingMessagesContent {
	width:300px;
	height:500px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
    transition-timing-function: ease-out;
    margin-top:50px;
	transition: 0.2s;
    position:relative;
    overflow:scroll;
	overflow-x:hidden;
  }

  .existingMessageButton {
	background-color: rgb(6, 155, 175);
	border: none;
    width:280px;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor:pointer;
	margin-left: 10px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 20px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.existingMessageButton:hover {
	background-color: rgb(6, 121, 136);
}

.existingMessageButton:active {
	background-color: rgb(6, 100, 115);
}

.messageScreen {
	width:900px;
	height:500px;
	background-color: white;
	border-radius: 20px;
    margin-top:50px;
    margin-left:15px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
    transition-timing-function: ease-out;
	transition: 0.2s;
    position:relative;
    overflow:scroll;
	overflow-x:hidden;
  }