.content {
	z-index: 1;
	background: linear-gradient(-45deg, black, gray, black, gray);
	background-size: 400% 400%;
	width: 100%;
	height: 100%;
	animation: animate 60s ease infinite;
	position:absolute;
	overflow:auto;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.notes {
    height: 350px;
    width: 350px;
    margin-top: 15px;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 15px;
    background-color: yellow;
    border-radius: 10px;
	position: relative;
	z-index: 1;
	transition-timing-function: ease-out;
	transition: 0.4s;
	display: inline-block;
}

.notes:hover  {
    background-color: rgb(226, 226, 0);
}

.note-toolbar{
	height: 50px;
	width: 350px;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	background-color: rgb(199, 155, 13);
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	top: 0;
  }

.addNoteButton {
	background-color: transparent;
	border: none;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
    margin-top: 10px;
	margin-left: 30px;
    border-radius: 10px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.addNoteButton:hover {
	background-color: white;
	color: black;
	
}

.addNoteButton:active {
	padding: 2px 17px;
}

.inputNote {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-top:5px;
	margin-top:55px;
	margin-left:5px;
	width: 332px;
	height: 275px;
    color: black;
    background: transparent;
	border-radius: 10px;
    outline: none;
	font-size:19px;
	border:transparent;
	resize:none;
}

::-webkit-scrollbar{
	width:5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
	background: rgb(177, 176, 176);
  }

  .save-button {
    background-color: transparent;
	border: none;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
    margin-top: 10px;
	margin-left: 30px;
    border-radius: 10px;
	transition-timing-function: ease-out;
	transition: 0.2s;
  }

  .save-button:active {
    padding: 2px 17px;
  }

  .save-button:hover {
    background-color: white;
	color: black;
  }