.registerContent {
	display:flex;
	align-items:center;
	justify-content: center;
  }

  .registerBox {
	width:650px;
	height:700px;
	background-color: white;
	margin-top:50px;
	border-radius: 20px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
  }

  .loginBox {
	width:650px;
	height:550px;
	background-color: white;
	margin-top:50px;
	border-radius: 20px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
  }

  .registerButton {
	background-color: rgb(3, 48, 54);
	border: none;
	color: white;
	padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
	margin-left:259px;
    border-radius: 10px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
	margin-top:30px;
  }

.registerButton:hover {
	background-color: rgb(3, 38, 44);
}

.registerButton:active {
	padding: 7px 22px;
	margin-top: 32px;
	margin-left:261px;
}

.loginButton {
	background-color: rgb(6, 155, 175);
	border: none;
	color: white;
	padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
	margin-left:272px;
    border-radius: 10px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
	margin-top:20px;
  }

.loginButton:hover {
	background-color: rgb(6, 121, 136);
}

.loginButton:active {
	padding: 7px 22px;
	margin-top: 22px;
	margin-left:274px;
}

.registerLabels {
	margin-left:70px;
	color: rgb(9, 72, 80);
	font-weight: bold;
	font-size:25px;
	
}

.firstNameInput {
    margin-left:20px;
	padding:5px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 10px;
	margin-top:50px;
}

.lastNameInput {
    margin-left:22px;
	padding:5px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 10px;
	margin-top:50px;
}

.emailInput {
    margin-left:81px;
	padding:5px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 10px;
	margin-top:50px;
}
.passwordInput {
    margin-left:33px;
	padding:5px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 10px;
	margin-top:50px;
}

.errorMessage {
	color:red;
	text-align: center;
	margin-top:10px;
	font-weight:bold;
	font-size:21px;
	overflow-wrap:break-word;
}