.content {
	z-index: 1;
	background: linear-gradient(-45deg, black, rgb(7, 58, 65), black, rgb(7, 58, 65));
	background-size: 400% 400%;
	width: 100%;
	height: 100;
	animation: animate 60s ease infinite;
	position:absolute;
	overflow:auto;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.addTaskButton {
	background-color: transparent;
	border: none;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
    margin-top: 10px;
	margin-left: 30px;
    border-radius: 10px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.addTaskButton:hover {
	background-color: white;
	color: black;
	
}

.addTaskButton:active {
	padding: 3px 18px;
	margin-top:12px;
}

.task {
    height: 600px;
    width: 500px;
    margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
	position: relative;
	display: inline-block;
	z-index: 1;
	transition-timing-function: ease-out;
	transition: 0.4s;
	vertical-align: top;
}

.task:hover > .task-toolbar { background-color: rgb(6, 121, 136); }

.taskTitle {
    font-family:Arial, Helvetica, sans-serif;
	padding-left: 5px;
	margin-left:5px;
	width: 480px;
	height: 86px;
	font-weight:bold;
	padding-top:5px;
    color: rgb(0, 0, 0);
    background: transparent;
	border-radius: 10px;
    outline: none;
	font-size:30px;
	border:transparent;
	resize:none;
	overflow-wrap:break-word;
	overflow:scroll;
	overflow-x:hidden;
}

.taskText {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-left:5px;
	padding-left: 5px;
	height:408px;
	width: 480px;
    color: black;
    background: transparent;
	border-radius: 10px;
    outline: none;
	font-size:22px;
	border:transparent;
	resize:none;
	overflow-wrap:break-word;
	overflow:scroll;
	overflow-x:hidden;
}

.taskTitle::-webkit-scrollbar {
	width:3px;
}

.taskText::-webkit-scrollbar {
	width:3px;
}

.task-toolbar{
	height: 50px;
	width: 500px;
	display: flex;
	align-content: center;
	background-color: rgb(6, 155, 175);
	border-radius: 0px 0px 10px 10px;
	position:relative;
	margin-top:48px;
	transition-timing-function: ease-out;
	transition: 0.4s;
  }

  .createTaskContent {
	display:flex;
	align-items:center;
	justify-content: center;
  }

  .createTaskBox {
	width:650px;
	height:700px;
	background-color: white;
	margin-top:50px;
	border-radius: 20px;
	margin-bottom:50px;
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.24);
  }

  .inputTaskTitle {
	font-family:Arial, Helvetica, sans-serif;
	background-color: rgb(6, 155, 175);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.24);
	resize: none;
	width:500px;
	height:60px;
	border-radius:10px;
	margin-left:70px;
	font-size:22px;
	color:white;
	overflow-wrap:break-word;
	transition-timing-function: ease-out;
	transition: 0.2s;
	padding-top:10px;
	padding-left:10px;
  }

  .inputTaskTitle::-webkit-input-placeholder {
	color:rgb(235, 231, 231);
  }

  .inputTaskTitle:hover {
	background-color: rgb(6, 121, 136);
  }

  .inputTaskText {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.24);
	background-color: rgb(6, 155, 175);
	resize: none;
	width:500px;
	height:300px;
	border-radius:10px;
	margin-left:70px;
	margin-top:15px;
	font-size:20px;
	padding-top:10px;
	padding-left:10px;
	color:white;
	overflow-wrap:break-word;
	transition-timing-function: ease-out;
	transition: 0.2s;
  }

  .inputTaskText::-webkit-input-placeholder {
	color:rgb(235, 231, 231);
  }

  .inputTaskText:hover {
	background-color: rgb(6, 121, 136);
  }

  .trueCreateTaskButton {
	background-color: rgb(6, 155, 175);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.24);
	border: none;
	color: white;
	padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
	margin-left: 235px;
    border-radius: 10px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
	margin-top:60px;
  }

.trueCreateTaskButton:hover {
	background-color: rgb(6, 121, 136);
}

.trueCreateTaskButton:active {
	padding: 7px 22px;
	margin-top: 72px;
	margin-left:237px;
}

.taskInformationHeader {
	margin-left:70px;
	color: rgb(9, 72, 80);
}

.deadlineLabel {
	margin-left:70px;
	color: rgb(9, 72, 80);
	font-weight: bold;
	font-size:25px;
	
}

.taskDateInput {
	margin-left:57px;
	padding:5px;
	color:rgb(9, 72, 80);
	font-size:20px;
	border-radius: 10px;
	margin-top:50px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.24);
}

.deadlineToolbar {
	color:white;
	padding-bottom:50px;
	position:absolute;
	margin-top:6px;
	font-size:25px;
	margin-left:6px;
}
.taskCloseButton {
    font-size: 2rem;
    background: none;
    border: none;
    stroke-width: '10';
    cursor:pointer;
    transition: 0.1s;
    color: white;
	margin-left:450px;
	margin-top:-10px;
  }

  .taskCloseButton:active {
    font-size: 1.8rem;
    margin-left:451px;
  }

  .taskCloseButton:hover {
    color: rgb(212, 212, 212);
  }