.content {
	z-index: 1;
	background: linear-gradient(-45deg, black, gray, black, gray);
	background-size: 400% 400%;
	width: 100%;
	height: 100%;
	animation: animate 60s ease infinite;
	position:absolute;
	overflow:auto;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.addTaskButton {
	background-color: transparent;
	border: none;
	color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor:pointer;
    margin-top: 10px;
	margin-left: 30px;
    border-radius: 10px;
	vertical-align: top;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.addTaskButton:hover {
	background-color: white;
	color: black;
	
}

.addTaskButton:active {
	padding: 2px 17px;
}

.task {
    height: 600px;
    width: 500px;
    margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
	position: relative;
	z-index: 1;
	transition-timing-function: ease-out;
	transition: 0.4s;
}

.task:hover {
	height:605px;
	width:505px;
}

.task:hover > .task-toolbar { width: 505px; }

.taskTitle {
    font-family:"Palantino";
	padding-top: 5px;
	padding-left: 5px;
	margin-left:5px;
	width: 480px;
    color: rgb(0, 0, 0);
    background: transparent;
	border-radius: 10px;
    outline: none;
	font-size:35px;
	border:transparent;
	resize:none;
	overflow-wrap:break-word;
}

.taskText {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-left:5px;
	padding-left: 5px;
	width: 480px;
    color: black;
    background: transparent;
	border-radius: 10px;
    outline: none;
	font-size:20px;
	border:transparent;
	resize:none;
	overflow-wrap:break-word;
}

.task-toolbar{
	height: 50px;
	width: 500px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	background-color: rgb(6, 155, 175);
	border-radius: 0px 0px 10px 10px;
	position: absolute;
	bottom: 0;
	transition-timing-function: ease-out;
	transition: 0.4s;
  }